 ![Emil]()

# Enrich users profiles

In this challenge, you will explore a dataset of companies and extract companies information from it!

## General data exploration

Import the [`microsoft_companies.json`](https://drive.google.com/file/d/1Zrja9KY-05u8XsGfK-P97zGa-NyipS49/view?usp=sharing) file into Colab.

Run the code below to get the results in the `microsoft_companies` variable. We will study on Day 3 how to load data in Python.

In [ ]:
import json

with open('/content/microsoft_companies.json') as json_file:
    microsoft_companies = json.load(json_file)

What is the type of the `microsoft_companies` variable?

In [ ]:
#your code here

How many companies are in this list?

In [ ]:
#your code here

## Specific data exploration

Look at the first item on this list. What type is it?

In [ ]:
#your code here

In [ ]:
#your code here

For this first item, display the company name, industry, domain and total number of employees.

In [ ]:
#your code here

Do you think that this company named "microsoft" is the giant American company?

> **Your Answer Here (Double click)**

Obviously not ! It seems there are homonyms in our list.

Create a new empty list and add all the companies whose names are exactly "microsoft".

To do this, you will need to loop through all the companies and use a condition to check that their names are indeed "microsoft". If this is the case, the company information will be added to the empty list.

How many are there?

In [ ]:
exact_microsoft_companies = []

# iterate through all companies

    # if statement to be completed

Among the results obtained, do you see the giant American company?

You can run the code below and then use the `pprint` function to indent the results. It works like the `print` function with improved readability.

In [ ]:
from pprint import pprint
pprint(exact_microsoft_companies)

> **Your Answer Here (Double click)**

## Cleaning the data

### Encoding categories

To facilitate the work of the other teams, we will translate the number of employees into categories. To do this, we will use the following correspondences:
   - less than 5: "small business"
   - from 5 to 30: "startup"
   - from 30 to 200: "scaleup"
   - from 200 to 1000: "big companies"
   - more than 1000: "very large companies"


Write a function that takes one argument, the number of employees, and returns the corresponding category.

⚠️ Don't forget to return the corresponding category at the end of your function using the **return** keyword. \
Look carefully at the syntax of functions in the lecture.

In [ ]:
def from_nb_employee_to_category(total_employee):

    category = ""

    # to be completed


print(from_nb_employee_to_category(23))

### Transform the data

We will go through all the companies in the initial file.

We will create an empty list that will record all the information about each company as we go along.

For each company, store in a **dictionary** the company's name, industry, domain and company category (in relation to its number of employees, using your previous function). Then add this dictionary to your list.

In the end, your list will contain all the dictionaries of all the companies.

In [ ]:
microsoft_companies_clean = []

# for each company in the list
for company_info in microsoft_companies:

    # to be completed
    # create new dictionnary


    # to be completed
    # add dict_company to microsoft_companies_clean list

Use the code below to create a `DataFrame` from it. We will learn more about this Python object in future lectures.

In [ ]:
import pandas as pd

df_microsoft_companies_clean = pd.DataFrame(microsoft_companies_clean)
df_microsoft_companies_clean

Congratulations, you just created your first DataFrame! 🚀

### More accurate cleaning

What do you notice about `domains` column ?

When no domain has been found, the API outputs "https://www.".

This piece of information is not relevant to other teams. Modify your code to delete that.


<details>
    <summary>Hint 🔍</summary>
One way to do so is to not store this key/value pair when iterating over all companies.
</details>

In [ ]:
#your code here

Run the code below to export the clean dataframe to a CSV. We will learn more about the `to_csv()`function in future lectures.

In [ ]:
df_microsoft_companies_clean.to_csv("microsoft_companies.csv",index=False)